# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IP\lab-7-JacTheHunter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
